.cta-section{

padding:80px 0;

background:#F8FAFC;

direction:rtl;

}



.cta-box{

background:

linear-gradient(
135deg,
#0F4C5C,
#08313B
);

border-radius:35px;

padding:70px 40px;

position:relative;

overflow:hidden;

color:white;

text-align:center;

}



.cta-box::before{

content:"";

position:absolute;

width:350px;

height:350px;

background:#D4AF3730;

border-radius:50%;

filter:blur(80px);

top:-100px;

left:-80px;

}



.cta-content{

position:relative;

z-index:2;

}



.cta-icon{

width:80px;

height:80px;

border-radius:50%;

background:#ffffff20;

display:flex;

align-items:center;

justify-content:center;

margin:0 auto 25px;

color:#D4AF37;

}



.cta-content h2{

font-size:42px;

margin-bottom:20px;

}



.cta-content p{

font-size:19px;

line-height:2;

opacity:.9;

max-width:650px;

margin:auto;

}



.cta-content button{

margin-top:35px;

padding:18px 40px;

border-radius:16px;

background:#D4AF37;

color:white;

font-size:18px;

font-weight:700;

display:flex;

align-items:center;

justify-content:center;

gap:12px;

margin-left:auto;

margin-right:auto;

transition:.3s;

}



.cta-content button:hover{

transform:translateY(-4px);

}



@media(max-width:600px){

.cta-content h2{

font-size:30px;

}


.cta-box{

padding:50px 25px;

}

}