.faq-section{

padding:100px 0;

background:#F8FAFC;

direction:rtl;

}



.faq-list{

max-width:850px;

margin:auto;

display:flex;

flex-direction:column;

gap:18px;

}



.faq-item{

background:white;

border-radius:18px;

border:1px solid var(--border);

overflow:hidden;

transition:.3s;

}



.faq-item button{

width:100%;

padding:25px;

display:flex;

justify-content:space-between;

align-items:center;

background:none;

font-size:18px;

font-weight:700;

text-align:right;

direction:rtl;

}



.faq-item button svg{

transition:.3s;

color:var(--primary);

}



.faq-item.active button svg{

transform:rotate(180deg);

}



.faq-answer{

max-height:0;

overflow:hidden;

transition:.35s ease;

}



.faq-answer p{

padding:0 25px 25px;

line-height:2;

color:var(--muted);

}



.faq-item.active .faq-answer{

max-height:200px;

}



.faq-item.active{

box-shadow:var(--shadow-md);

}