.navbar{

position:sticky;

top:0;

z-index:1000;

background:rgba(255,255,255,.85);

backdrop-filter:blur(15px);

border-bottom:1px solid #E5E7EB;

direction:rtl;

}



.navbar-container{

height:80px;

display:flex;

align-items:center;

justify-content:space-between;

}



.brand{

display:flex;

align-items:center;

gap:12px;

font-size:22px;

font-weight:800;

color:#0F4C5C;

}



.brand svg{

color:#D4AF37;

}



.nav-links{

display:flex;

align-items:center;

gap:35px;

}



.nav-links a{

color:#334155;

font-weight:600;

transition:.3s;

}



.nav-links a:hover{

color:#D4AF37;

}




.menu-btn{

display:none;

background:none;

color:#0F4C5C;

}





@media(max-width:800px){


.menu-btn{

display:block;

}



.nav-links{

position:absolute;

top:80px;

right:0;

left:0;

background:white;

padding:30px;

display:none;

flex-direction:column;

gap:20px;

box-shadow:0 15px 40px #0002;

}



.nav-links.active{

display:flex;

}


}