.page-section{

padding:120px 20px;

background:#F8FAFC;

direction:rtl;

min-height:70vh;

}



.page-container{

max-width:900px;

margin:auto;

text-align:right;

}



.page-icon{

width:80px;

height:80px;

border-radius:20px;

background:#EEF7FA;

color:#0F4C5C;

display:flex;

align-items:center;

justify-content:center;

margin-bottom:30px;

}



.page-container h1{

font-size:45px;

color:#0F4C5C;

margin-bottom:25px;

}



.page-intro{

font-size:20px;

line-height:2;

color:#64748B;

}



.page-cards{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:25px;

margin-top:50px;

}



.page-cards div,
.contact-box{

background:white;

padding:30px;

border-radius:22px;

border:1px solid #E5E7EB;

}



.page-cards svg,
.contact-box svg{

color:#D4AF37;

margin-bottom:15px;

}



.contact-box{

display:flex;

flex-direction:column;

gap:25px;

margin-top:40px;

}



.contact-box div{

display:flex;

align-items:center;

gap:15px;

}



@media(max-width:700px){

.page-cards{

grid-template-columns:1fr;

}


.page-container h1{

font-size:34px;

}

}
.thank-box{

text-align:center;

align-items:center;

}


.success-icon{

color:#16A34A;

margin:auto;

margin-bottom:25px;

}



.home-btn{

margin-top:35px;

display:inline-flex;

align-items:center;

gap:10px;

background:#0F4C5C;

color:white;

padding:15px 30px;

border-radius:15px;

font-weight:700;

}
.page-content{

margin-top:40px;

line-height:2.1;

color:#475569;

}


.page-content h2{

margin-top:45px;

margin-bottom:15px;

font-size:28px;

color:#0F4C5C;

}


.page-content ul{

padding-right:22px;

margin-top:15px;

}


.page-content li{

margin-bottom:12px;

}


.page-content a{

color:#0F4C5C;

font-weight:600;

word-break:break-word;

}